[2016-10-27 18:21] tauren opened #1 "OriginalSource location"
It appears that webpack changed since you published.

[code]

I believe you need to import `webpack-sources/lib/OriginalSource` in SvgStorePlugin.js.

However, after change this, I'm getting another error:

[code]

This is resolved by explicitly passing `true` in the webpack plugins config:

[code]

[2016-10-28 08:09] bensampaio commented on #1
Hi @tauren, can you please tell me the version of NodeJS, npm, and webpack you are using? Thank you!

[2016-10-28 16:47] tauren commented on #1
@bensampaio I'm using a fresh install of react-boilerplate@3.2.1 which includes webpack@2.1.0-beta.22. I'm running on node@6.9.1 with npm@4.0.0. I added external-svg-sprite-loader@1.0.0 to the project.

Also, your readme shows how to configure webpack, but it doesn't show any usage. Could you provide some hints or docs on how to utilize the SVG sprites? Especially in an ES6 react project?

Thanks!

[2016-10-31 08:26] bensampaio commented on #1
@tauren we are only focusing on supporting stable releases of webpack. Webpack 2 is still in beta, so we won't support it for now.

I fixed the problem with the plugin constructor on version 1.0.1. You can now initialise it without any params.

I will improve the README with some example on how to use this loader both in JS and CSS. Thanks!

[2016-12-03 22:38] satazor opened #3 "Public path is not respected"
Hi!

I'm trying to use this plugin but I'm having an issue with `publicPath`. The sprite is generated correctly but the `svg` output for each icon do not contain the `/build/` prefix:

[code]

should be:

[code]

This causes `img/tf-svg-sprite.svg` to be downloaded and fails with 404.

Adding the public path to `getUrlToSymbol` and `getUrlToView` works, but I'm not sure if this is the correct fix.

[2016-12-04 14:53] #3 closed

[2017-02-05 04:50] mnpenner opened #8 "Webpack-dev-server support?"
First of all, great plugin!

However, it doesn't seem to work with webpack-dev-server because that runs on a [separate domain](http://stackoverflow.com/q/32850536/65387). Is there any chance you can add an option to inject the SVG into the page via AJAX so that we can work around this?

[2017-02-05 04:53] mnpenner opened #9 "Hash output filename?"
You've given us an option to specify the output sprite name, but is there any chance you can run it through [`interpolateName`](https://github.com/webpack/loader-utils#interpolatename) so that we can use a hash? This is important for cache-busting.

[2017-02-06 10:38] bensampaio commented on #9
@mnpenner `interpolateName` is already being used. You should be able to specify a name / path with a hash. If that's not working could you please show me what's the path you are using?

[2017-02-06 10:51] bensampaio commented on #8
@mnpenner I used `webpack-dev-server` for the [React example](https://github.com/Karify/external-svg-sprite-loader/tree/master/examples/react) and it works. Could you have a look at it and see if it applies to your use case? Otherwise can you be more specific since I don't get why shouldn't it work. Thank you :)

[2017-02-07 02:07] mnpenner commented on #9
Thanks for responding.

Here's how I configured the loader:

[code]

Which is exactly the same way I configured my `url-loader`. However, I get this error when I try to set the `name` option that way:

[code]

Works fine when I use a static name like "spritemap.svg".

I will try to dig a bit deeper to see where it's breaking.

[2017-02-07 02:19] mnpenner commented on #9
OK, I just realized I shouldn't have used `[name]` and `[ext]` in my name. It makes sense for url/file-loader because we have an input file to which those things refer, but external-svg-sprite-loader is creating a brand new image so those values aren't set.

It works fine with `sprite-[sha1:hash:hex:10].svg`, which is all I wanted. Sorry for wasting your time :-)

You can close this ticket unless

[2017-02-07 02:44] mnpenner commented on #8
Just tested your React example. It does indeed work with `webpack-dev-server` like you said, but you're not running it on a separate port.

I believe I had to run mine on a separate port because my app is written in PHP and its behind nginx. So I have nginx running on port 8080 and webpack-dev-server serving my compiled assets from 8081.

Here's the relevant part of my config:

[code]

So what end

[2017-02-07 03:27] mnpenner commented on #8
I gave this some thought and worked out a hack I can use for development:

First, update the `<Svg>` component to rip off the file path, leaving only the `#hash`:

[code]

Then, in one of your scripts that loads on every page, inject the sprite:

[code]

N.B. I've picked a random sprite here so that I could get the filename since it's not exported.

`__DEV__` is a "constant" I'm injecting through

[2017-02-07 13:00] bensampaio commented on #9
This is something I could add to the documentation. I'm happy you could fix the problem in the end and that it made sense. I'll close the issue and add this to my todos :)

[2017-02-08 16:36] satazor commented on #1
@bensampaio now that webpack 2 is released, are there any plans to make it work?

[2017-02-08 16:41] satazor opened #10 "Support webpack 2"
It passed some time since 2.2 final release was published. Currently, this plugin does not work on 2.2:

[code]

[2017-02-09 12:49] bensampaio commented on #1
Yes, I have to look into this. I'll try to make it work on the coming days.

[2017-02-09 12:50] bensampaio commented on #10
I will look into this on the coming days. Thank you!

[2017-02-09 12:50] satazor commented on #10
@bensampaio thanks for looking into this. Here's why I prefer this loader over others: https://github.com/moxystudio/react-with-moxy/issues/4

[2017-02-09 16:49] #1 closed

[2017-02-09 17:29] bensampaio commented on #10
Version 2 was just released. It should be compatible with webpack 2. There are no configuration changes but since there was a breaking change that would not work for webpack 1 I decided for a major release.

Let me know if there are any problems with it! Thank you ;)

[2017-02-09 17:29] #10 closed

[2017-02-09 17:29] #9 closed

[2017-02-09 20:13] satazor commented on #10
It's working! Ty

[2017-02-10 00:21] satazor opened #12 "Add ability to read svgoptions inside loader options"
I would like to be able to do this:

[code]

I think that changing https://github.com/Karify/external-svg-sprite-loader/blob/master/index.js#L52 to account for `query.svgo` would do it. Thoughts?

[2017-02-10 08:19] bensampaio commented on #12
You can do:

[code]

Or is this not desirable / logic? Let me know what you think.

[2017-02-10 08:21] satazor commented on #12
Yea I know that works but I have multiple rules that use external-svg-sprite-loade :(

[2017-02-10 08:26] bensampaio commented on #12
Hmm I see, I guess that makes sense. I'll see if I can look into it today. Otherwise you can also create a PR ;)

[2017-02-10 08:29] satazor opened #13 "Alternative approach to external spriting"
Please read https://github.com/moxystudio/react-with-moxy/issues/6

Would you be interested in implementing this strategy behind an option flag or is it outside of the scope of this module? Also, feedback welcome!

[2017-02-10 09:33] bensampaio commented on #8
@mnpenner, I understand the problem. I am not using `webpack-dev-server` yet so I never came across this problem. Can't `webpack-dev-server` be used as a proxy for your PHP app? In this way none of this would be necessary.

This loader has to work for CSS and JS. That's one of the reasons that made me write it, so I won't implement something that removes support to CSS (even if it's under a specif

[2017-02-10 09:45] bensampaio commented on #13
Thank you for sharing!

What do you mean with the second point? "References with `url(#id)` do not work, which is a common practice for gradients."

I like your idea, but I need some time to look into it. The flow would be a bit different so I am not sure if it should be part of this module.

[2017-02-10 09:49] satazor commented on #13
@bensampaio Basically if you try to use this SVG in the sprite, the gradients won't work:

[code]

If you instead generate a sprite in <body> it does work, but you can't do `display:none`; you must do `width:0;height:0;opacity:0` or similar.

[2017-02-10 09:52] satazor commented on #13
Feel free to close if you don't want to do this in this module, no hard feelings :D

[2017-02-10 21:28] mnpenner commented on #8
@bensampaio I think had problems proxying the requests last time I tried. Don't remember what issues I faced exactly.

I understand your position though. Being able to use SVGs in CSS is definitely a perk. It's a shame cross-domain `<uses>` still don't work in 2017. Browsers need to get their act together :stuck_out_tongue_closed_eyes:

[svgxuse](https://github.com/Keyamoon/svgxuse) works for HTML

[2017-02-12 22:23] satazor opened #14 "Hot module reload"
I've setup hot module reload on a project and it's working nicely, except when adding/removing/editing svgs that go through this loader.

Maybe that's something that we could improve? See style-loader for an example: https://github.com/webpack-contrib/style-loader/blob/master/index.js#L21

[2017-02-17 12:24] #12 closed

[2017-02-19 15:10] bensampaio commented on #14
@satazor, I don't think I'll be able to work on this any time soon. But feel free submit a PR. I will be happy to review it :)

[2017-02-27 02:59] #8 closed

[2017-03-18 14:32] bensampaio commented on #13
@satazor sorry for the delay. I looked into this again and indeed I think it is out of the scope of this module. Let me know if you or someone creates a similar module in the future!

[2017-03-18 14:32] #13 closed

[2017-04-02 17:51] michaelpumo opened #16 "Usage in HTML / Pug files?"
This loader looks great and I can get it to build the SVG files just fine.

However, I'm unsure how to use this within my HTML / Pug files? I can't see an example showing this at all.

Because the ID's are generated from their original file names and then made unique, I'm unable to reference them. e.g. If I have an SVG like 'mark.svg', I'm unable to do:

[code]

...because the resulting ID is some

[2017-04-03 10:36] bensampaio commented on #16
@michaelpumo this loader was built with JS in mind, so I never thought about this use case. I could provide an option to change the icons names, that would actually make sense. But if you don't use an hash then you need to make sure your SVG files have unique names. What do you think of that?

In any case, I think you could use the [html-loader](https://github.com/webpack-contrib/html-loader) and

[2017-04-03 13:27] michaelpumo commented on #16
I think this would be a great addition!

Simply to have an option that only takes the filenames as the ID's I think would be fine because the filenames themselves have to be unique when in the same folder anyway.

This is what I currently do using a Gulp task and never have issues here.

Not looked into using those loaders as I'm still finding my way with webpack. Thanks for the heads up.

Is this

[2017-04-03 14:51] bensampaio commented on #16
I agree with the option and I created the PR https://github.com/karify/external-svg-sprite-loader/pull/17 for it just now. However, I think you should be using some additional loader (as I mentioned above) because what you are trying to do isn't really the webpack way :p

[2017-04-03 14:51] #16 closed

[2017-04-04 08:09] bensampaio commented on #16
Just released version 2.2.0. You now have the `iconName` option. For your case you can change it to `icon-[name]` and icon names will no longer be hashed. Hope it works!

[2017-04-04 08:42] michaelpumo commented on #16
Thank you very much for this. I haven't tried it yet, but I appreciate your hard work and will let you know if there's any problems! 🙏🏼

[2017-04-07 19:11] timkelty opened #18 "Outputting stringified object"
[code]

My svg sprite is getting generated, but when I require svgs (in both css and js), I get back a string (see above). Any idea why?

[2017-04-08 21:06] michaelpumo commented on #16
@bensampaio When I run `yarn` on my `package.json` that specifies version `2.2.0` - what I actually seem to get is version `2.1.2`.

I'm not sure if this is a separate issue. The code for your loader in my node_modules does not reflect the code you have on your GitHub repository. In the `package.json`, it tells me version `2.1.2`.

Because of this, the suggested solution / fix you did does not wor

[2017-04-09 19:19] bensampaio commented on #16
@michaelpumo yarn saves the last installed version on the lock file and will always install that one everytime you run `yarn`. To install the most recent version you need to run `yarn upgrade external-svg-sprite-loader`. Or to update all your dependencies just run `yarn upgrade`. This is one of the reasons why `yarn` was invented :)

[2017-04-10 12:55] timkelty commented on #18
Figured this out - I had `url-loader` before `external-svg-sprite-loader` in my `svg` rule.
I'll leave this open if you think there is a fix that would have it work in both cases.

[2017-04-11 07:04] bullwinkle opened #19 "Module build failed: TypeError: Cannot match against 'undefined' or 'null'."
![image](https://cloud.githubusercontent.com/assets/3613558/24896803/39e7e764-1e9f-11e7-88c3-2efa07bbc082.png)

The .svg file is exists, fine and works with other loaders (for example https://www.npmjs.com/package/svg-sprite-loader).

`ERROR in ./src/assets/svg/anchor.svg
Module build failed: TypeError: Cannot match against 'undefined' or 'null'.
    at Object.loader (/Users/macbookpro/Projects/ul

[2017-04-12 14:15] bensampaio commented on #18
I don't think the `url-loader` can be combined with this loader. They have totally different goals. The `url-loader` converts files to a string or returns the file itself, while the `external-svg-sprite-loader` merges all the files into a sprite and replaces the file with a JS object. They are not meant to be used together. If you need both on your project then you need a more specific `test` rege

[2017-04-12 14:15] #18 closed

[2017-04-12 14:23] timkelty commented on #18
Makes sense. Thanks for the reply.
I only ran into it because I was using URL loader in my SVG rule and added this to it, rather than replacing it.

[2017-04-12 14:58] bensampaio commented on #19
@bullwinkle which version of webpack are you using? I don't have this problem, but apparently both `options` and `_compilation` were deprecated so your solution would also not be future proof. I will look into this.

[2017-04-12 15:10] bensampaio commented on #19
I opened a question on StackOverflow: http://stackoverflow.com/questions/43373376/how-to-access-the-webpack-config-with-the-new-loader-api.

[2017-04-12 16:39] bullwinkle commented on #19
First of all i want to say that this is a helpful tool and thank you for your work.
webpack "version": "2.3.3"
Yes, i understand, that `_compilation` is deprecated and my solution is not solution in common, just the way to show that it can works. In my case i`ve fall into debug and saw that webpack object have ho field `options` at all. So may be some fixes needed.

[2017-04-12 18:53] bullwinkle commented on #19
I can`t find info about deprecating `_compilation`. Seems it is a usable solution.
https://webpack.js.org/api/loaders/#this-_compilation

[2017-04-14 11:06] bensampaio commented on #19
If you go a bit up in that page you will see the following header: `Deprecated context properties`

[2017-04-14 22:31] bullwinkle commented on #19
ah, yes, you are right :)) so, we need an alternative solution... maybe ask Sokra ?

[2017-04-18 14:24] rtxrulez opened #20 "Will it work under webpack 1?"

[2017-04-20 01:16] chmanie opened #21 "Styles are not interpreted in `<use>` Tag"
The colors of my icons are missing as the styles not seem to be interpreted for the icons with classNames.

`<symbol>` definition in the sprite:

[code]
`<view>` definition in the sprite:

[code]

`<use>` definition in the sprite:

[code]

`<svg>` in the page:

[code]

Is there a way to not lose the styles in the page?

[2017-04-20 08:36] bensampaio commented on #19
I would say an alternative solution would be to pass the `publicPath` as an option to this loader. But maybe there is another way to do this now and that's why those properties are being deprecated. How do you propose I contact Sokra? Questions don't seem to be allowed on the webpack repo and Sokra has no contact information. Maybe you can upvote my question on StackOverflow so it gets more visibi

[2017-04-20 08:40] bensampaio commented on #20
This loader should work under webpack 1 but I cannot invest time on making sure I support it. So you can try and if it doesn't work you can always submit a PR to fix it. I'll be happy to review it :)

[2017-04-20 08:46] bensampaio commented on #21
@chmanie have you passed custom svgo options? I think the option `convertStyleToAttrs` is mandatory for the sprite to work as expected. Your `<symbol>` should look like:
[code]

[2017-04-20 09:02] bullwinkle commented on #19
@sokra

[2017-04-20 20:44] chmanie commented on #21
@bensampaio thank you very much for your answer! I think that won't work in my case as it just transforms `style=` tags. But this here probably will:

https://github.com/svg/svgo/pull/592

Closing this as it is not in the responsibiliy of this lib to do that :)

[2017-04-20 20:44] #21 closed

[2017-04-21 01:48] mattybow commented on #19
posted a possible solution here http://stackoverflow.com/questions/43373376/how-to-access-the-webpack-config-with-the-new-loader-api/43532591#43532591

[2017-04-26 13:22] aspirisen opened #22 "Cannot read property 'split' of undefined"
Some svg documents don't have viewbox property
[code]

[2017-05-02 11:47] #22 closed

[2017-05-02 11:47] #20 closed

[2017-05-02 14:43] #19 closed

[2017-05-02 15:03] bensampaio commented on #22
This should be fixed on v2.2.1. Let me know if that's not the case :)

[2017-05-02 15:04] bensampaio commented on #19
This should be fixed on v2.2.1. Let me know if that's not the case :)

[2017-05-02 20:44] bullwinkle commented on #19
Will be great

[2017-05-08 03:23] 282159468 opened #25 "404 error"
sometime get 404 error, then rebuid is ok

[2017-05-18 13:45] laitine opened #26 "LinearGradients don't work inside symbol on Firefox"
The sprite wraps the linearGradient of an svg inside the symbol which does not work on Firefox. It should set it inside the svg tags and reference inside the symbol.

[2017-05-20 08:30] bensampaio commented on #26
@laitine can you post an example of the current output and what would be the expected output?

[2017-05-20 08:30] bensampaio commented on #25
Does this happen after you add a new icon?

[2017-05-20 08:52] laitine commented on #26
In the current output the gradients are wrapped inside the `<symbol>` which does not work on Firefox.

[code]
When the gradients are moved under `<defs>` they work.

[code]

[2017-05-25 19:19] whatcould opened #27 "Duplicate IDs in sprites"
I ran into a frustrating issue that might be particular to my SVG files (exported by Sketch); the bug was caused by putting them all together as a single sprite file. I looked at SVGO options but wasn't able to solve it. Would like to figure out if there's a better/permanent fix so others don't have this issue...

**The symptom** was that my icons were coming out all duplicated — the first one loa

[2017-05-26 15:36] lijiliang opened #28 "Can not generate svg sprite?"
I used this plugin to generate svg sprite when it appeared, the following question. Some values can not be generated and become NaN. I can not find what is the reason, can you solve this problem?
[code]

[2017-05-30 21:26] andreasmcdermott commented on #28
I'm seeing the same issue.

I load svg from scss file, and the exported sprite.svg contains viewboxes with "NaN" and "50", even though each sprite has a viewbox of "0 0 16 16".

[2017-06-02 05:01] Temp2017 commented on #28
I am facing same issue, at many places in generated sprite viewboxes contains "NAN" through all svg icons are properly defined.

[2017-06-20 10:20] bensampaio commented on #28
Can you guys let me know which version of this loader / plugin you are using and can you share one of those SVGs with this problem? There was a similar problem before which was recently fixed.

[2017-06-20 10:24] bensampaio commented on #27
@whatcould this is indeed a problem other people are also experiencing. There is a solution for it in #29 which should fix all cases. Hopefully it will get merged soon :)

[2017-06-20 11:06] stowball commented on #27
[My PR](https://github.com/karify/external-svg-sprite-loader/pull/29) won't fix this scenario as it didn't touch the `<use xlink:href />`. TBH, I'm not sure why the `<use>` is even output in the plugin; that should be the responsibility of the implementor in the markup, no?

[2017-07-06 09:42] bensampaio commented on #27
The `<use>` is necessary so that you can reference the sprite in CSS

[2017-07-06 09:44] bensampaio commented on #27
@whatcould could you share one of the SVGs you are having problems with? I am trying to fix this but I need to be able to test it.

[2017-07-06 11:31] #26 closed

[2017-07-06 11:39] bensampaio commented on #27
I believe this should be fixed in 2.3.0. Let me know if that's not the case.

[2017-07-06 11:39] #27 closed

[2017-07-12 15:15] whatcould commented on #27
Looks like it works great! Thanks for addressing this.

[2017-08-14 14:18] leidegre opened #33 "If `ExtractedModule` is null the code fails to compile"
See https://github.com/karify/external-svg-sprite-loader/blob/90e052a7463a934927dc12f0d156d5ff67fd4a50/lib/SvgStorePlugin.js#L118

I get the following error:

[code]

I the `extract-text-webpack-plugin` must have change because it does not appear to export `ExtractedModule` any longer.

Adding an additional statement like this, at the top of the file, would solve this issue.

[code]

[2017-08-14 14:48] leidegre opened #35 "[hash] is not stable"
I've run into an issue with the usage of `[hash]`. It's not stable, i.e. it does not produce consistent results. Multiple builds -> different hashes. This breaks long term caching.

I'm also running into a problem where client and server compilation passes are running in different processes and produce different hashes for the exact same code.

The results in the SSR pass emitting incorrect asset

[2017-08-14 15:14] leidegre commented on #35
A very simple way to fix this is just to make sure that the files are fed into the processing in a stable sort order. Like this:

`[SvgSprite.js:91]`
[code]

[2017-08-18 07:50] bensampaio commented on #35
@leidegre good find! I was having the same problem but didn't know what could be causing it. I will create an MR for this.

[2017-08-18 08:04] bensampaio commented on #35
@leidegre can you let me know if #35 fix the issue for you?

[2017-08-23 10:55] satazor opened #37 "Add publicPath option"
As I described [here](https://github.com/moxystudio/react-with-moxy/issues/6), there's problems when we use a output.publicPath with different scheme/host/port (CDN).

It would be useful to have a `publicPath` option that, if defined it would be used instead of `output.publicPath`.

I will be doing a PR adding this feature if you agree!

[2017-08-23 12:24] #37 closed

[2017-08-23 12:38] #35 closed

[2017-08-23 12:40] bensampaio commented on #33
@leidegre which version of `extract-text-webpack-plugin` are you using?

[2017-08-23 13:01] bensampaio commented on #25
I'm closing this due to inactivity

[2017-08-23 13:01] #25 closed

[2017-08-23 13:01] bensampaio commented on #28
I'm closing this due to inactivity, feel free to reopen.

[2017-08-23 13:01] #28 closed

[2017-08-23 16:27] leidegre commented on #33
`extract-text-webpack-plugin@3.0.0`

I had to move on so I work around it as best I could.

[2017-08-23 16:30] leidegre commented on #35
@bensampaio as soon as I have a moment to test this, I will. But it should work.

[2017-08-23 17:10] bensampaio commented on #33
The file `extract-text-webpack-plugin/dist/lib/ExtractedModule` exists on version 3. It is generated during install of the package. Which version of `npm` or `yarn` are you using? Maybe that's the issue.

[2017-08-24 09:00] leidegre commented on #33
`yarn@0.24.4`

[2017-11-14 15:37] gmdvdv opened #40 "x='NaN'"
<use id="strelka" xlink:href="#strelka" width="78.75" height="50" **x="NaN"** y="0"></use>
  <use id="test_stand" xlink:href="#test_stand" width="33.25" height="50" **x="NaN"** y="0"></use>
  <use id="tractor" xlink:href="#tractor" width="33.25" height="50" **x="NaN"** y="0"></use>
  <use id="tractor_car" xlink:href="#tractor_car" width="33.25" height="50" **x="NaN"** y="0"></use>
  <use id="train

[2018-01-25 15:48] satazor opened #41 "Access all the sprites in the SvgStore plugin"
I have a use-case where I need to get access to produced sprites after a webpack build, that is, every sprite metadata.

At the moment, there's `getSpritesWithInterpolateName` that accomplishes what I want except that it returns `[]` in DEV because I'm not using `[hash]` in development.

I will make a PR that adds this new method.

[2018-01-25 16:23] bensampaio commented on #41
Could you describe your use case so that I know why this change is necessary?

[2018-01-25 16:31] satazor commented on #41
Because the strategy that this plugin uses does not allow the sprite file to be served via cross-domain request, see https://github.com/karify/external-svg-sprite-loader/issues/37.

In our projects, we produce a `manifest.json` that contains all the asset URLs and use them to load JS and CSS files as well as prefetching/preloading assets. But since we are changing the publicPath of the `external-s

[2018-01-25 16:34] satazor commented on #41
I've edited my comment to be more complete.

[2018-01-26 09:23] bensampaio commented on #41
Hmm I understand the problem. Are you also using `webpack-manifest-plugin`? Maybe there is a way of communicating a different publicPath to other plugins? Maybe we can set some webpack property in order to change the path for a specific chunk. Have you looked into that? Maybe we can even find other plugins with a similar problem? Would be interesting to know if that's actually possible. The soluti

[2018-01-26 09:28] bensampaio commented on #40
@gmdvdv sorry for the delay, I was on holidays when you reported this and I ended up forgetting about it. Are you still experiencing this problem? Could you give an example of svgs you are using? Thank you!

[2018-01-26 15:18] satazor commented on #41
We are not using `webpack-manifest-plugin` but we are doing something similar. Some plugins, such as this one, support overriding the publicPath. Though, this publicPath override is not available in the [compilation](https://github.com/danethurber/webpack-manifest-plugin/blob/409b0fb64234ed9fa9adeeba31850a4d4feeca7c/lib/plugin.js#L46) nor the stats, which are used by tools like `webpack-manifest-p

[2018-01-31 12:59] satazor commented on #41
Bump.

[2018-02-01 22:40] #41 closed

[2018-04-12 17:05] NaveenThally opened #46 "Unable to run it in the local"
@bensampaio

**Getting error as below**

_`module.js:549
    throw err;
    ^

Error: Cannot find module 'webpack/lib/Chunk'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/Library/WebServer/Documents/external-svg-sprite-loader/li

[2018-04-13 09:28] bensampaio commented on #46
Which version of webpack and of this plugin are you using?

[2018-04-13 17:28] NaveenThally commented on #46
i'm using the latest one webpack - 4.5.0 , external-svg-sprite-loader - 4.0.0-beta.4

[2018-04-19 09:17] bensampaio commented on #46
The  file is still there: https://github.com/webpack/webpack/blob/v4.5.0/lib/Chunk.js. I guess there is something wrong with your `node_modules` folder. Have you tried to remove the folder and install again?

[2018-08-09 13:58] usebaz commented on #40
@bensampaio in my case it reproduces when `external-svg-sprite-loader` try add to build svg font, and function:
https://github.com/karify/external-svg-sprite-loader/blob/8c57bd4cba28261fcfb7b299363b1aac462e5e13/lib/SvgSprite.js#L117

return `width: NaN`

maybe need add warning or error for easy debug it's case?

[2018-08-24 15:29] #14 closed

[2018-08-27 10:48] usebaz commented on #40
not, not have. But I think loader must throw error or ignore this file and show warning

[2018-08-28 15:16] #40 closed

[2018-08-28 15:19] bensampaio commented on #40
@usebaz can you check if version 4.0.0-beta.6 fixes your problem? :)

[2018-08-30 02:33] satazor opened #53 "Bad behavior when using multiple instances of the plugin"
When using multiple plugin instances when compiling, e.g.: doing a client & server build, there's some unexpected behavior. The reason is that my last PR added state to the SvgSprite class which is shared among the different plugin instances. This causes the `updated` flag to be out-of-sync, which in turn causes the replacements to be skipped.

To solve this issue, we need to move all this "statef

[2018-10-11 20:39] timbomckay opened #55 "Excluding </view>"
Is there a way to exclude the view tags from being built? We're not really using it and would like to save the space if possible. Thanks

[2018-10-22 13:32] bensampaio commented on #55
@timbomckay this should be possible. I'll try to have a look into it when the problem in https://github.com/karify/external-svg-sprite-loader/pull/54 is resolved.

Remind me about this if I don't come back to you :)

[2018-10-22 13:57] timbomckay commented on #55
Thanks @bensampaio. If it's already a feature just let me know how to pass that option. Haven't seen it in the documentation.

[2018-10-24 09:09] bensampaio commented on #53
Fixed in https://github.com/karify/external-svg-sprite-loader/pull/54

[2018-10-24 09:09] #53 closed

[2018-10-24 09:10] bensampaio commented on #46
Closing because of no activity. Comment again to reopen or start a new issue if the problem persists.

[2018-10-24 09:10] #46 closed

[2018-10-24 09:11] bensampaio commented on #33
This problem will be fixed in version 4.

[2018-10-24 09:11] #33 closed

[2018-10-24 09:16] bensampaio commented on #55
Just to make sure: the <views /> are necessary if you use the sprite icons in CSS. Are you not using them in CSS?

[2018-10-24 09:41] satazor commented on #53
Awesome!

[2018-10-24 13:42] timbomckay commented on #55
Correct we're not using the CSS feature. It's nice to have and we can opt into it if we ever decide to but it's unnecessary space for right now.

Version: `"external-svg-sprite-loader": "3.4.1",`

Settings:
[code]

Thanks

[2018-10-24 13:59] bensampaio commented on #55
Ok, I get it. The problem is: the main reason that lead me to create this loader and plugin was because there was no other that supported CSS. So this request is a bit unexpected 😛 Anyway, it could be done but I'll need to give it some thought. Most probably I would add this is a minor version of v4, so first I'll focus on releasing v4.

[2018-10-24 14:09] timbomckay commented on #55
Ok. Yeah we just use it as `<svg><use href="external.svg#icon" /></svg>`. Didn't know if there was a way to just pass a rule like
[code]

Thanks for creating the loader, it's been a big help.

[2018-10-24 14:14] timbomckay opened #57 "SVGO Options"
I've noticed you accept svgoOptions as a parameter but haven't seen any documentation. I'm currently running svgo locally before pushing to the repo with `svgo --disable=removeViewBox --enable=removeTitle` but not sure how I'd pass this to external-svg-sprite-loader.

Any guidance would be appreciated.

Thanks

[2018-10-24 14:40] bensampaio commented on #55
Currently there is no such option. Maybe one option would be using SVGO to remove the views but for now you would need to do this yourself.

[2018-10-24 14:45] bensampaio commented on #57
You can just pass it to the loader:

[code]

You can find the default options in: https://github.com/karify/external-svg-sprite-loader/blob/d74e890eaaff9a6a2b1c28d680d069bf2ba4053c/lib/loader.js#L12. The default options are mandatory so that the loader works as expected so you'll need to copy them if you need to add more plugins.

I don't remove the title by default from the SVGs since that is dis

[2018-10-24 14:46] bensampaio commented on #57
By the way, SVGO is only used on the icons, there is currently no way to apply it on the sprite.

[2018-10-24 14:48] timbomckay commented on #57
I'm assuming that's on build though right? It optimizes before building the sprite? That's my current flow. Sounds like it's the same.

[2018-10-24 15:23] timbomckay commented on #55
Ok. But you were saying you're gonna implement that option for a 4.x release?

[2018-10-24 15:41] bensampaio commented on #55
I will look into it since I'm not sure if this is possible.

[2018-10-24 15:42] bensampaio commented on #57
Yes, it optimizes before building the sprite.

[2018-11-06 02:44] markplewis opened #58 ""TypeError: loaders is not iterable" after upgrade to v4"
After upgrading to `external-svg-sprite-loader` version 4, my app is now throwing the follow error when I run Webpack (version `4.25.1`):
[code]
I followed the `external-svg-sprite-loader` [version 4 upgrade instructions](https://github.com/karify/external-svg-sprite-loader/releases/tag/v4.0.0) but I must be missing something because I haven't been able to figure this out.

My `webpack.config.js`

[2018-11-06 12:55] markplewis commented on #58
Thanks @bensampaio, that solved my problem! However, I swear that my Webpack build was previously working correctly, using the `use: {}` syntax. I upgraded from Webpack `4.19.1` to `4.25.1` at the same time that I upgraded `external-svg-sprite-loader` from `3.4.1` to `4.0.1`, so maybe something changed with Webpack. At any rate, it looks like I was using `use` incorrectly, so thanks for alerting m

[2018-11-06 12:55] #58 closed

[2018-11-06 15:32] timbomckay commented on #55
Hi @bensampaio, when do you think you'll have some feedback on this?

[2018-11-06 15:39] bensampaio commented on #55
Not soon, sorry. I have several other things to focus on at work. If you have an idea on how to implement this let me know what you have in mind. I'll try to come back to this in December.

[2019-03-04 16:18] thasmo opened #59 "Odd behavior when generating a manifest file"
I'm generating multiple sprites with the following options:
[code]
[code]
[code]
In addition, I'm using `webpack-assets-manifest` to generate a `manifest.json`, which maps plain file names to generated, hashed file names. `webpack-assets-manifest` creates a file like this:
[code]
The problem is that the contents of the `manifest.json` file contains only a single `brand.svg` entry, which is named w

[2019-03-04 16:20] thasmo commented on #59
By the way, the sprite files are generated corrently.

[2019-03-04 16:35] thasmo commented on #59
It seems that using a dash (`-`) in the `name` option is the problem.

The configs ...
[code]
[code]
[code]
are successfully used on the generated `manifest.json` ...
[code]
... but using `sprites/prefix-one.[hash:8].svg`, `sprites/prefix-two.[hash:8].svg`, etc. will be reduced to a single entry in the `manifest.json` file with the key `prefix.svg`.

[2019-03-05 08:51] bensampaio commented on #59
@thasmo I might be wrong but I don't see why this would be a problem with this package. Could you try to use https://www.npmjs.com/package/webpack-manifest-plugin and see if it results in the same behavior? I used it before and never had problems with it. I guess `webpack-assets-manifest` is using a regex somewhere that does not take dashes into account 🤔

[2019-03-05 12:40] thasmo commented on #59
@bensampaio I've tried it with `assets-webpack-plugin` and it behaves similarly; it somehow ditches everything after a dash, including the dash. When not using a dash in the `name` it works fine.

[2019-03-06 08:54] bensampaio commented on #59
@thasmo I looked into it and I think I might have found the source of the problem. Could you give it a try with the changes in: https://github.com/karify/external-svg-sprite-loader/pull/60 and let me know if that works for you?

[2019-03-06 09:52] thasmo commented on #59
@bensampaio That seems to fix it, awesome!

[2019-03-06 10:10] bensampaio commented on #59
Cool! I'll see if I get it merged and release it this week :)

[2019-03-11 14:25] bensampaio commented on #59
The fix is now merged and released so I'll close this issue. Thanks for reporting!

[2019-03-11 14:25] #59 closed

[2019-04-01 17:56] hiousi opened #61 "consistency with others loaders in manifest.json"
external-svg-sprite-loader helps me save a good clean sprite.[hash:8].svg file!
I've tried to use it with webpack-manifest-plugin and webpack-assets-manifest to generate a manifest.json, used to find the corresponding compiled /path/to/sprite.svg -> /path/to/sprite.[hash:8].svg

But I can not obtain the good filename and path to my sprite.svg file. Note that webpack-manifest-plugin and webpack-ass

[2019-04-02 07:29] bensampaio commented on #61
This is strange. I used webpack-manifest-plugin before and never got this issue 🤔 However, there was a problem recently with manifest plugins so it could be I missed something on the release to v4.

At the moment, I don't have a lot of time to look into this so if you could at least find the source and let me know what the problem is that would help a lot. Even better would be if you could submit

[2019-04-02 14:58] hiousi commented on #61
Ok, I will try.
Working with webpack-manifest-plugin first. But I must admit that without a deep understanding of webpack internals I will not be able to resolve without your help.

this if my generated manifest.json (with default plugin options)
[code]
as I understand, 1st line comes from method registerSprites() where you're pushing to compilation.chunks, and the 2nd line comes from adding to co

[2019-04-03 07:42] bensampaio commented on #61
So `webpack-manifest-plugin` outputs a correct line and a wrong one?

[2019-04-03 09:22] hiousi commented on #61
both are wrong :(
in most case the manifest is  " _a file with a mapping of all source file names to their corresponding output file_". None of lines is usefull: one key is made with a non guessable hash (the asset line), the other is missing the path (the chunk line).

### asset line
Looking for a fix for  external-svg-sprite-loader.
External-svg-sprite-loader should emit a asset name without a h

[2019-04-05 16:19] markplewis opened #62 "Error when defining Rule.use as a function"
I'm trying to define `Rule.use` [as a function](https://webpack.js.org/configuration/module/#ruleuse) instead of an array, so that I can gain access to the `issuer` string and use that information to generate my sprite names:
[code]
Unfortunately, this results in the following error:
[code]
I tried hacking the `SvgStorePlugin.js` file to add support for the function syntax:
[code]
But `sprite` sti

[2019-04-08 15:08] bensampaio commented on #62
Hmm I guess this is a new feature... I don't think it was possible to pass a function to `use` when I came up with this idea. This was necessary to fix several complex issues but I don't think it will work for this case...

I would like to tell you how to go forward but I can't really come up with any idea, right now. Although, I can tell you that what you are trying to do won't work. Unfortunatel

[2019-04-08 20:27] markplewis commented on #62
Thanks @bensampaio! I was able to satisfy the requirements of my project by doing the following, so I no longer need to use `Rule.use` as a function. It would still be a nice feature to have though.

[code]

[2019-06-26 16:13] ashleahhill opened #63 "Using `webpack-chain` breaks default options"
Hello,

I am setting up a Vue.js project using Vue CLI 3.8.4. Therefore I have to use `webpack-chain` to configure this plugin. Because `oneOf` in `webpack-chain` sets an `options` prop on the rule, (as `undefined`) `SvgStorePlugin#injectSpriteIntoRule` errors:

[code]

Basically this check:

[code]

Isn't enough.

I'm able to work around it by setting my own name in my config like this:

[code]

[2019-08-16 13:39] #63 closed

[2019-08-16 14:11] #57 closed

[2019-08-16 14:33] bensampaio commented on #63
This should be fixed on v5.0.1

[2019-08-27 12:13] egorgrushin opened #66 "It doesn't generate svg sprite"
I use next plugin's injections in my webpack.config

in **rules**:
`
{
	test: /\.svg$/,
	use: [
		{
			loader: SvgStorePlugin.loader,
			options: {
				name: 'sprite.svg',
			},
		},
	],
},
`
in **plugins**:
`
new SvgStorePlugin({}),
`

So, when I run project, I haven't got any `sprite.svg` file. By the way, urls in css correctly replaces with `sprite.svg#id=....`.

Where is the problem?

[2019-09-10 09:02] bensampaio commented on #66
Sorry for the delay. It seems correct to me but if you still didn't manage to make it work could you try to change your loader config to:

[code]

The plugin depends on how the loader is configured so it could be that something is not working as expected when using `use`. Let me know if this makes a difference.

[2019-09-13 10:13] GrushinEgor commented on #66
@bensampaio So, I did like you said and now I'm getting this instead of css rule:
``` background: url(a2214b59b6a08d7bedadaac7928d7f90.svg) no-repeat```
But inside this svg there is a code listed bellow

[code]
Of couse, no svg rendered as background.

so, tell me, please, How to fix it now?

[2019-10-02 02:08] dko-slapdash opened #67 "The module removes "fill" attribute when converting to symbol"
A bugreport here:

https://github.com/karify/external-svg-sprite-loader/blob/842c04a092665b724a25c9c4ff36b974808a0821/lib/SvgDocument.js#L170

Due to this explicit whitelist of attributes,

[code]
becomes
[code]

I.e. fill="none" is removed and thus the image changes.

Maybe we can just copy all attributes (or blacklist some) instead of whitelisting?

[2019-10-02 04:44] dko-slapdash opened #68 "Alternative (simpler) way to address the images inside the sprite (no math)"
The external-svg-sprite-loader module addresses the individual images by doing math and resizing for the images. This (among other things) also distorts the image proportion when the image is rendered without width/height attributes of e.g. `<img src="...#view-xyz"/>`.

FYI, there is an alternative (and probably simpler) approach used by svg-sprite-loader:
[code]

There is no math/resizing here, a

[2019-11-28 02:20] yisenliu commented on #66
I can't find the output file of svg sprite from the publicPath, here is my webpack.config.js:

    rules: [ {
        test: /\.svg$/,
        loader: SvgStorePlugin.loader,
        options: {
          name: 'sprite-[hash:6].svg',
          iconName: '[name]',
          publicPath: '../images/'
        }
      }
    ],
    plugins: [
        new SvgStorePlugin()
    ]

here is the output css conte

[2019-11-28 08:50] bensampaio commented on #66
@yisenliu the `iconName` option must always set the `[hash]` since otherwise icon names can't be guaranteed to be unique.

Why do you want to remove `view-`? Without it your icons won't work in CSS.

[2019-11-28 08:53] bensampaio commented on #66
@GrushinEgor I'm sorry for not coming back to you. Did you manage to fix the problem in the meantime? If not can you post your complete webpack config and describe the current behavior and your expected behavior?

[2019-11-28 09:10] yisenliu commented on #66
Thanks for replying.

    iconName: '[name]',

I'm sure each file is unique by adding 'include' option for files like this:

    include: 'assets/svg/'

But even after changing to [hash], there is still no output file.
As for removing 'view-' is just for clean codes.

[2019-11-28 10:06] bensampaio commented on #66
@yisenliu does it work if you remove the `publicPath` option?

If not, maybe there is a problem with one of your SVGs but no error is thrown. I suggest you try with less SVGs or SVGs from the example  project in this repo to see if that makes a difference. Make sure your SVGs always have a `viewBox`.

[2019-11-29 00:51] yisenliu commented on #66
Yes. If I remove the `publicPath`, the svg sprite  with my svg files will be outputed.
But I need the sprite to be in the `images` folder.
I've tried to keep my `publicPath` and use your svgs from the example project, there is still nothing outputed.

[2019-11-29 13:19] bensampaio commented on #66
@yisenliu I get the issue now. I think you want to use the `name` option and not the `publicPath` option. The `publicPath` is only meant for when your sprite is on a CDN. Can you try this and let me know if it works?

[2019-11-29 15:28] yisenliu commented on #66
@bensampaio I tried your config, but it's not working.
It just changes url path `url("../images/sprite-73b268.svg#view-fb")` in the css file as well as the option `publicPath:'../images/'` and still get the error message:
`GET http://localhost:8080/images/sprite-73b268.svg 404 (Not Found)`

[2019-12-03 10:35] bensampaio commented on #66
@yisenliu can you share your full config? I think the problem is in the `../`. I am not sure if this is a common practice but I would expect your webpack configuration to be set in such a way that you would be able to set this loader like this:

[code]

What is the folder structure you want to achieve?

[2019-12-04 01:50] yisenliu commented on #66
@bensampaio Thanks for replying. Here is my test repo.
[https://github.com/yisenliu/webpack-test](url)

The ideal public folder structure should be like this:

    /dist
        /css/index.css
        /images/sprite.svg
        /js/index.bundle.js
        /index.html

[2019-12-04 11:14] bensampaio commented on #66
@yisenliu I suggest you change this:

[code]

to this

[code]

I appended the default SVGO options to your config since these are not optional for this loader / plugin to work. Maybe I should mention this in the README but first I want to see if it will work for you.

[2019-12-05 00:57] yisenliu commented on #66
@bensampaio Yes, it did work for me. But if I have many sub websites under the same domain(e.g. http://www.xxx.com/ **site1** /index.html, http://www.xxx.com/ **site2** /index.html), the sprite won't be found because of  the absolute path in the css file.
`background: url(/images/sprite.svg#view-fb-ac9ff5)`
https://github.com/yisenliu/webpack-test/blob/master/dist/css/index.css

[2019-12-05 08:48] bensampaio commented on #66
No, but you can set the `publicPath` to http://www.xxx.com/.

[2019-12-06 02:34] yisenliu commented on #66
@bensampaio I got it. Thank you so much.

[2019-12-06 08:15] bensampaio commented on #66
Happy to hear. I'll close this issue then since your issue is fixed and the original author is not replying.

[2019-12-06 08:15] #66 closed

[2019-12-06 08:19] bensampaio commented on #68
@dko-slapdash does this work with CSS as well?

[2019-12-24 12:00] thasmo opened #70 "deprecation warning for chunk.files in webpack 5"
[This line](https://github.com/karify/external-svg-sprite-loader/blob/c2fd5f7897f76a2c11b9667391fce8fdefa20c99/lib/SvgStorePlugin.js#L247) triggers a deprecation warning in webpack 5:
[code]

[2019-12-27 02:36] rekker commented on #58
It still keeps throwing the "TypeError: loaders is not iterable" error for me :
[code]
Running webpack `4.41.2`

My abbreviated `webpack.config.js` :

[code]

Should this have been fixed or am I doing something not right?

[2019-12-27 15:17] bensampaio commented on #70
@thasmo thank you for reporting this issue. I created a PR that should fix this: https://github.com/karify/external-svg-sprite-loader/pull/71. Could you check if you still get this warning when using my changes?

[2019-12-28 01:29] maximryabov22011988 opened #72 "The sprite status is blocked: origin (webpack --mode production)"
Hello! I am developing a webpack config for my project and encountered a **Build** problem. **Dev** work correctly.

Icons from the sprite downloaded through the CSS, work out as expected. But the icons in the component using the tag `use` don't work. The sprite status is `blocked: origin`

My repo - https://github.com/maximryabov22011988/webpack-broker

I'm add you to Collaborators.

Thanks in ad

[2019-12-30 10:08] bensampaio commented on #72
@maximryabov22011988 I checked your webpack config but I couldn't find anything wrong with it. On which browsers are you experiencing this problem?

[2019-12-30 10:13] bensampaio commented on #58
@rekker the plugin searches in your webpack rules for occurrences of `SvgStorePlugin.loader` so it could be that the problem is in another rule in your config. Can you share the complete config?

[2019-12-30 18:24] maximryabov22011988 commented on #72
This issue occurred in Chrome latest version.  I was very surprised by this problem, maybe, already worked with svg and use when making sites.  Have you tried making the production assembly and then opening index.html in the dist folder?  And everything opened as expected?

[2019-12-30 18:25] maximryabov22011988 commented on #72
Or do I just need to make a production assembly and upload the contents of the dist folder somewhere to the server?  Maybe I'm doing something wrong ?!

[2019-12-31 11:19] bensampaio commented on #72
I am not able to build your assets. I followed the following steps:

1. Cloned your repo
1. Run `npm i`
1. Run `npm run build` and got the following error:

[code]

[2020-01-03 02:16] rekker commented on #58
Sure thing:

[code]

[2020-01-03 09:47] bensampaio commented on #58
I think the problem is your `babel-loader` configuration. As I mentioned above in this thread, according to the webpack docs, `use` is meant to be an array. It seems to work as an object but that is not documented so I don't know wether that's by coincidence or intended. This plugin traverses your config based on the multiple use cases described in the webpack docs. Since I would rather not make t

[2020-01-03 11:10] rekker commented on #58
Holy moly, sorry totally missed that.. that fixed it!!! Thank you!

[2020-01-03 20:25] maximryabov22011988 commented on #72
I'm sorry. I updated the production build. Now it works. And i deploy `production build` to gh-pages: [https://maximryabov22011988.github.io/webpack-broker/](url)

[2020-01-03 20:53] maximryabov22011988 commented on #72
And fixed this error:
`ERROR in ./src/index.js
Module not found: Error: Can't resolve './components/base/Icon' in`

[2020-01-04 11:26] maximryabov22011988 commented on #72
Sprite in url(background-image) work correctly. But sprite in html with USE tag don't work. In production build i use publicPath `../`. Maybe this is the reason?

In development mode i use publicPath `/` and sprite in html and in background-image work correctly. But such publicPath don't work in production mode

[2020-01-06 09:12] bensampaio commented on #72
@maximryabov22011988 that's definitly the reason. If you check the network tab in the Chrome inspector you'll see an error loading the sprive.svg file. The browser is trying to load "https://maximryabov22011988.github.io/images/sprite.svg" which doesn't exist. What you want is: "https://maximryabov22011988.github.io/webpack-broker/images/sprite.svg". So I don't think you need to change the `public

[2020-01-06 12:22] maximryabov22011988 commented on #72
After compiling the production build, sprite file put in the image folder and app.css file is in the css folder.  If i remove the public path '../', then the sprite in the background-image stops working. And the sprite in html still does not work.

Structure dist folder after production build:
- index.html
- css
- images
- js
- favicon

css, js, images, favicon are folders

[2020-01-06 15:19] bensampaio commented on #72
The `publicPath` option refers to a URL path not a file system path so when you use `../` you are trying to get something from outside your application scope. Your configuration looks very much like mine so I think that you don't even need to set the `publicPath` option. Did you try that?

If that doesn't work then I would say you need to set the `publicPath` to `/images/` but I really think you d

[2020-01-06 15:19] maximryabov22011988 commented on #72
I made the dist folder structure more flat. Sprite in html is now loaded without error, but not displayed.

Under the development mode, the sprite in the html and the css works correctly (https://prnt.sc/qk19jm).

In production mode, the css is displayed correctly, but the html, although it has loaded, isn't displayed (https://prnt.sc/qk1dde)

[2020-01-06 15:56] maximryabov22011988 commented on #72
I found a problem place ... There seems to be a problem with the `id` mismatch. SVG uses this id http://prntscr.com/qk1sro

But in the sprite itself there is no such name `id` https://prnt.sc/qk1tup. What else is happening here is minification. What do you think could be the problem?

[2020-01-06 15:57] maximryabov22011988 commented on #72
https://github.com/karify/external-svg-sprite-loader/issues/72#issuecomment-571178197

Yes, I tried it completely without this option `publicPath`, but this, unfortunately, did not solve the problem.

[2020-01-06 16:18] bensampaio commented on #72
I tried to clone your repo again and managed to fix your issue locally by changing `webpack/loaders/svgSprite.js` to the following:

[code]

Can you confirm that this works?

[2020-01-06 19:06] maximryabov22011988 commented on #72
After changing the structure, the sprite began to load with `gh-pages`.  Now `app.css`, `app.js`, `sprite.svg` put to the root of the project, where `index.html` lies

[2020-01-06 19:06] maximryabov22011988 commented on #72
For some reason, everything works on the dev server.  But gh-pages are not.  Although there are no file upload errors

[2020-01-06 19:11] maximryabov22011988 commented on #72
I found a problem place ... There seems to be a problem with the `id` mismatch. SVG uses this id http://prntscr.com/qk1sro

But in the sprite itself there is no such name `id` https://prnt.sc/qk1tup. What else is happening here is minification.

This behavior can be seen at https://maximryabov22011988.github.io/webpack-broker/

On the dev server in the sprite have the correct `id`.

What do you th

[2020-01-06 19:13] maximryabov22011988 commented on #72
Maybe the problem is that I set mode: 'production' in the webpack config and the plugin minifies the id?

[2020-01-07 15:56] bensampaio commented on #72
I looked into it but so far I don't understand the issue. I use this plugin in production and never found this problem. Minification is only done per symbol in the sprite by the loader. Are you minifying the sprite as well?

[2020-01-07 16:33] maximryabov22011988 commented on #72
Now I turned off the minification of the svg.  Now the problem is that after production build and deploy to gh-pages production, the sprite, although it is in the markup, is not displayed.

Now the problem is reproducing on
https://maximryabov22011988.github.io/webpack-broker/

Alfa icon don't displayed
https://prnt.sc/qk1sro
although the sprite loaded without errors

[2020-01-08 08:57] bensampaio commented on #72
It seems that the `viewbox` attribute of your `svg` elements is set to `undefined`. I noticed in your webpack config that you changed the svgo configuration. svgo removes the viewports by default but that is required for this loader to work. So you should make sure that `{ removeViewBox: false }` is part of your svgo config.

In short your config should look like this:

[code]

[2020-01-08 11:35] maximryabov22011988 commented on #72
Thanks a lot!!!! You helped me a lot! It all worked! Thanks for the great plugin!

[2020-01-08 11:35] #72 closed

[2020-01-08 11:57] bensampaio commented on #72
No problem! I'm happy it all worked out! Happy spriting!

[2020-02-03 06:18] maximryabov22011988 opened #80 "Can't run in storybook"
Hello! I ran into a problem when starting a storybook with a Сheckbox (src/components/base/Checkbox) component that uses external-svg-sprite-loader.

I get in the console:

`
info => Using base config because react-scripts is not installed.
74% optimizing SvgStorePluginF:\Projects\webpack-broker\node_modules\external-svg-sprite-loader\lib\SvgStorePlugin.js:113
                    throw error;

[2020-10-19 11:24] #70 closed

[2020-10-19 11:32] bensampaio opened #86 "Deprecation warning for Chunk.modulesIterable"
When using this loader / plugin with webpack 5 we get the following warning:

[code]

The build passes but this should be fixed in order to use this loader / plugin with future webpack versions.

[2020-10-19 11:38] bensampaio commented on #86
@sokra could you give me any hints on how to fix this issue?

[2020-10-19 11:38] #86 closed

[2020-11-07 15:48] mihkeleidast opened #88 "Breaks with mini-css-extract-plugin@1.3.0"
Webpack build fails when using both mini-css-extract-plugin@1.3.0 and external-svg-sprite-loader.

I created a repo with repro: https://github.com/mihkeleidast/webpack-css-svg-issue

I originally reported this to mini-css-extract-plugin but I was told this should be fixed here: https://github.com/webpack-contrib/mini-css-extract-plugin/issues/653

[2020-11-09 09:14] bensampaio commented on #88
Hmm this is an issue 😬 Thanks for reporting, though! I don't have an immediate solution for this issue so I recommend sticking to 1.2.0 if that is working for you.

[2020-11-09 16:37] bensampaio commented on #88
@mihkeleidast could you let me know if this issue is fixed when using external-svg-sprite-loader@7.1.0-beta.0?

[2020-11-09 19:26] mihkeleidast commented on #88
Yes, with the beta the build succeeds.

[2020-11-10 11:06] #88 closed

[2020-12-03 20:17] beautyfree commented on #67
agree with @dko-slapdash
@bensampaio I can't use this package because of "fill" property not listed and remove.

My images with "fill" looks like
![image](https://user-images.githubusercontent.com/656531/101082903-481ec800-35bd-11eb-821d-2727cb9c455f.png)

and after plugin work it looks like:
![image](https://user-images.githubusercontent.com/656531/101083034-71d7ef00-35bd-11eb-9616-07d4597d936c.p

[2021-01-23 14:54] mihkeleidast opened #92 "SvgStorePlugin fails if there are any other unrelated errors in the build"
Hey! I've run into an issue when there's some sort of error in my build (for example, an eslint error that comes via eslint-loader), then SvgStorePlugin fails. That's probably because webpack does not emit if there are any errors.

Versions (ask if anything else may be of importance):
[code]

Stack trace:
[code]

[2021-01-25 16:52] thasmo opened #93 "Support and compatibility with Webpack 4 regarding mini-css-extract-plugin"
First off, thanks for taking ownership of the package, maintaining and upgrading it for webpack 5. Thank a lot!

We ran into problems with `external-svg-sprite-loader@6` and `mini-css-extract-plugin@1.3` when running it wih `webpack@4`. I've noticed there was a [fix for the latest major version](https://github.com/bensampaio/external-svg-sprite-loader/pull/89) `7.x`, but it seems this fix was not

[2021-02-14 10:46] thasmo commented on #93
@bensampaio, is this something you'd consider?

[2021-02-15 13:18] bensampaio commented on #93
@thasmo thanks for reporting this issue. I would like to help but since I maintain this plugin alone I can't offer support for all versions. Therefore, I chose to offer support only for the current major version. Is there no option for you to upgrade to webpack@5? If not and if you are interested I could also invite you as a collaborator so that you can make the necessary change in a separate rele

[2021-02-15 14:24] thasmo commented on #93
@bensampaio I totally understand your point of view. We're in the process of evaluating and upgrading webpack to version 5, but due to various dependent factors we don't be able to upgrade to webpack 5 shortly. If it's okay for you, feel free to create a separate branch and assign the relevant permissions to me, so I'm able to make the neccessary changes. Publishing releases for that branch on npm

[2021-02-17 09:03] bensampaio commented on #93
@thasmo I invited you as a collaborator and created branch `6.0`. You can branch out from that branch and create a PR with the changes for me to review. I will then publish the release.

[2021-02-17 09:25] thasmo commented on #93
@bensampaio, thanks! Going to have a look at it soon.

[2021-02-18 21:37] #93 closed

[2021-02-20 13:06] thasmo commented on #93
@bensampaio I was able to test `6.0.2` on a project of ours and so far everything looks good. 👍 Thanks for the time, help and cooperation. 🙇‍♂️

[2021-07-06 14:15] Ariane-B opened #109 "Clearer errors when trying to use the latest version with Webpack 4"
Hi!

I just spent quite a while trying to debug the errors that were thrown when trying to use this loader. When using `emit: true`, it wouldn't compile due to `.tap` not being found as a property of `undefined`.

I wasn't sure what was happening, but I saw that the line that was causing the error was wrapped in `if (options.emit)`, so I tried setting `emit: false`, which gave me all sorts of non-

[2021-08-03 10:47] dangmailinh opened #110 "Duplicated IDs in icon sprite"
Hi everyone,

i have a problem with duplicated ids inside the icon sprite. So, for example in the icon sprite there is following symbol:
`<symbol id="arrow-down" viewBox="0 0 42 24"><path d="M0 3.1L2 .9 21.1 19 40 .9l2 2.2-20.9 20L0 3.1z"/>`

Scrolling down the icon sprite, there is a `<use>`-Tag with the same id:
`<use id="icon-arrow-down" xlink:href="#icon-arrow-down" width="35" height="20" x="1

[2021-10-04 10:01] #110 closed

[2022-01-26 19:05] mihkeleidast commented on #92
Should be fixed in #96!

[2022-01-26 19:05] #92 closed

[2022-05-10 13:17] 521lbx opened #122 "angular13 not generate sprite file"
when i want to use this loader in angular13, it  not operation properly
below is my webpack configeration
![image](https://user-images.githubusercontent.com/34636656/167636974-5184f4a2-1cd8-41d6-8699-6a7e3bb58d89.png)

page show like this
![image](https://user-images.githubusercontent.com/34636656/167637247-bde3ef5e-96e6-4349-8948-6db74f32ea45.png)

how can i fix this problem?

[2022-09-01 09:33] EShebunin opened #126 "It doesn't work with webpack 5 cache=filesystem"
It doesn't work with webpack 5 cache=filesystem. It works on first run, but after webpack restarted it doesn't work. (just serves index.html instead of sprite.svg)